<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	
	<display-name>lab-jersey-spring</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

<!-- 	<filter> -->
<!--     	<filter-name>springSecurity</filter-name> -->
<!--         <filter-class> -->
<!--             org.springframework.web.filter.DelegatingFilterProxy -->
<!--         </filter-class> -->
<!--     </filter> -->

	<servlet>
		<servlet-name>Jersey spring REST Service lab</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>com.lab.jersey.context.ApplicationContext</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.lab.jersey.resource;com.lab.jersey.filter</param-value>
		</init-param>
	</servlet>

<!-- 	<filter-mapping> -->
<!--         <filter-name>springSecurity</filter-name> -->
<!--         <url-pattern>/*</url-pattern> -->
<!--     </filter-mapping> -->

	<servlet-mapping>
		<servlet-name>Jersey spring REST Service lab</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<session-config>
        <session-timeout>60</session-timeout>
	</session-config>

</web-app>